 body {
	 background-image: url("images/citylights.jpg");
	}
	
p{
	font-family: Big Caslon;
	font-style: bold;
	font-weight: 900;
	font-size: 50px;
	text-shadow: 0 0 20px white, 0 0 40px white; 
	color: rgb(11, 57, 117);
	
	


	}
.main{
  position: absolute;
  width: 900px;
  z-index: 15;
  top: 10%;
  left: 30%;
  margin: -100px 0 0 -150px;
	}